*.iml
.gradle
.idea
/local.properties
/secure.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/firebase.json
/firestore.rules
/firebase-debug.log
/firestore.indexes.json
/.firebaserc
/firebase_testing
/firestore-debug.log
/ui-debug.log

/rules_testing/firestore-debug.log
/rules_testing/.vs/
/rules_testing/node_modules/
